

.App input {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    float: right!important;
    padding-right: 100px!important;
}

p {
    margin: 10px;
    font-size: 18px;
}




