.commande{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;


}

.billets-item{
    width: 600px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in-out;
    padding: 50px;
    &:hover{
        transform: scale(1.1);
        box-shadow: 0px 0px 15px 0px;
    }
}



.billet-match{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.billet-prix{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.test{
    display: flex;
    flex-direction: row;
    gap: 80px;
}